<table>
  <tr>
    <td valign="top">
      <%= render "registration_form", registration_user: %>
    </td>
    <td valign="top">
      <%= render "login_form", login_email: %>
    </td>
  </tr>
</table>
