<table>
  <tr>
    <td valign="top">
      <%= render "pages/registration_form", registration_user: %>
    </td>
    <td valign="top">
      <%= render "pages/login_form", login_email: %>
    </td>
  </tr>
</table>
