<% content_for :title, "Bad Passwords" %>

<% success_color = "#006400" %>
<% error_color = "#8b0000" %>

<h1>Bad Passwords</h1>

<p>Register an email address with a URL that serves a plaintext Argon2 password hash, then test login against the current remote hash.</p>

<%= render "pages/forms", registration_user: @registration_user, login_email: @login_email %>
<%= render "pages/registration_result", registration_result: @registration_result, success_color:, error_color: %>
<%= render "pages/login_result", login_result: @login_result, success_color:, error_color: %>

<hr>

<p>
  <a href="/docs">API Docs</a> |
  <a href="/validate">Validate Token</a>
</p>
<%= render "pages/public_key", jwt_public_key: @jwt_public_key %>
